body {
    background-color: hsl(240, 100%, 100%);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../imagenes/4853433.jpg");
    background-attachment:fixed;
}

H1 {
    color: #646363;
    text-decoration-line: underline;
}

H2 {
    color: #646363;
}

a {
    text-decoration: none;
    border-radius: 5px;
    background-color: #f2f6f7;
    border: 2px hidden #9db4f0;
    padding: 0.75em; 
    height: 30px;
    color:#646363;
}

.container {
    display:flex;
    justify-content: center;
    margin-top: 170px;
    box-sizing:border-box;
    
}

.login {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
    width: 350px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
}

.registro {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
    width: 400px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
}
.PaginaUsu {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 450px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
}

.examenmod {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 600px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.listado {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 500px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.notasalu {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 400px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.respuesalu {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 55px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 600px;
    
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.errlog {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 500px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.notaspro {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 65px;
    padding-bottom: 30px;
    width: 430px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.preguns {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 550px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.examens {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 590px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.respus {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 550px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.reginv {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 65px;
    padding-bottom: 30px;
    width: 450px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.regval {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 600px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.formulario {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    width: 600px;
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word
}

.preguns textarea{
    vertical-align: top;
}
.botones {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 10px; /* Espacio entre los botones */
}

.columna1 {
    display: flex;
    flex-direction: column;
}

.columna2 {
    display: flex;
    flex-direction: column;
}

.botones a, a{
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: calc(50% - 10px);
    box-sizing: border-box;
}

.botones p, a {
    margin-top: 25px; /* Agregado para separar los elementos de la página */
}

#modnom {
    font-size: 17px;
    text-decoration: none;
}
#campos {
    color:#646363;
    font-weight: bold;
}

#campos2 {
    color:#646363;
    font-weight: bold;
    text-decoration-line: underline;
}
input[type=submit] {
    background-color:rgb(211, 233, 238);
    border-radius: 5px;
    border: 2px hidden #9db4f0;
    padding: 12px; 
    height: 43px;
    cursor: pointer;
    color:#646363;
    font-size: 17px;
}
.notasalu input[type=submit] {
    background-color:rgb(211, 233, 238);
    border-radius: 5px;
    border: 2px hidden #9db4f0;
    padding: 10px; 
    height: 48px;
    cursor: pointer;
    color:#646363;
    font-size: 17px;
}

#seleccion {
    color:#646363;
}
#titex {
    text-decoration-line: underline;
}

#logout {
padding-right: 24px;
padding-left: 24px;
max-width: calc(58% - 10px);
padding-bottom: 48px;
}

#vuelvan {
    padding-right: 24px;
    padding-left: 24px; 
    color: #646363;
    font-weight: bold;   
}

.notasalu span {
    margin-left: 13px;
}

span {
    margin-left: 65px;
}

#radios {
    color: #646363;
}
#spanpag {
    margin-left: 25px;
}

#examsel{
    padding-right: 29px;
    padding-left: 20px;
    max-width: calc(75% - 10px);
    padding-bottom: 30px;
}

.boton {
    flex-direction: column;
    border-radius: 30px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.table-form {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-form th, .table-form td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-form th {
    background-color: #f2f6f7;
    color: #646363;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
}

.table-form td {
    background-color: rgb(255, 255, 255);
    color: #646363;
}

.table-form input[type="radio"] {
    margin-right: 10px;
}

.infoextr {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px 50px 30px 55px;
    width: auto; /* Cambiado de 380px a auto para permitir expansión */
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Dos columnas: etiquetas y campos */
    gap: 10px 20px; /* Espacio entre filas y columnas */
}

.profile-grid label {
    grid-column: 1 / 2; /* Primera columna */
    align-self: center;
    color: #646363;
    font-weight: bold;
}

.profile-grid span {
    grid-column: 2 / 3; /* Segunda columna */
    align-self: center;
    color: #646363;
}

.infoextr a {
    margin-right: 10px; /* Espaciado a la derecha */
}

#editar {
    margin-right: 10px; /* Espaciado a la derecha */
    white-space: nowrap;
    padding-bottom: 30px;
    max-width: calc(100% - 10px);
}

#volver {
    margin-right: 10px; /* Espaciado a la derecha */
    margin-left: 50px;
    white-space: nowrap;
    padding-bottom: 30px;
    max-width: calc(35% - 10px);
}

.edit {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px 50px 30px 55px;
    width: auto; /* Cambiado de 380px a auto para permitir expansión */
    border: 2px hidden #f1f2f4;
    box-sizing: border-box;
    word-wrap: break-word;
    display: grid;
    grid-template-columns: 1fr 3fr; /* Dos columnas: etiquetas y campos */
    gap: 10px 20px; /* Espacio entre filas y columnas */
}

.profile-grid input {
    grid-column: 2;
}

.profile-grid input[type="submit"] {
    grid-column: 1;
}

#consult {
    text-align: center;
    max-width: calc(75% - 10px);
    padding-bottom: 48px;
}

#perfil{
    padding-right: 29px;
    padding-left: 20px;
    max-width: calc(75% - 10px);
    padding-bottom: 30px;
}

.borrar {
    text-decoration: none;
    border-radius: 5px;
    background-color: #f2f6f7;
    border: 2px hidden #9db4f0;
    padding: 0.45em; 
    height: 5px;
    color:#646363;
}

#examADMIN {
    text-align: center;
    max-width: calc(80% - 10px);
    padding-bottom: 28px;
}

#perfilADMIN{
    padding-right: 20px;
    padding-left: 20px;
    max-width: calc(55% - 10px);
    padding-bottom: 30px;
}